@media screen and (max-width: 964px) {
  .container {
    display: grid;
    grid-template-areas:
      'ch1 ch1 '
      'ch2 ch3'
      'ch4 ch5'
      'ch6 ch7 '
      'ch8 ch9'
      'ch10 ch9'
      'ch11 ch9';
  }
  .child1 {
    grid-area: 'ch1 ch1 ';
  }
  .child2 {
    grid-area: 'ch2 ch3';
  }
  .child3 {
    grid-area: 'ch4 ch5';
  }
  .child4 {
    grid-area: 'ch6 ch7 ';
  }
  .child5 {
    grid-area: 'ch8 ch9';
  }
  .child6 {
    grid-area: 'ch10 ch9';
  }
  .child7 {
    grid-area: 'ch11 ch9';
  }
  .child8 {
    grid-area: ch8;
  }
}
